<!-- Page Content -->

 
<img src="/assets/Ag-22.jpg" alt="" class="w-100"/>




<div class="container main-container">
  <div class="bg-light">

    <div class="row align-items-center">

      <div class="col-md-6">

        <h1 style="width:500px; margin: 0;text-align: center;" >Mahalo</h1>
        <br/>
        <p>Projeto Desafio Angular - Loja de Produtos desenvolvida pela starter Natália Sousa,
        para etapa do módulo de aprendizado de Angular/ Api, do programa Starter oferecido pela empresa GFT.</p>
          
            <a class="nav-link" [routerLink]="['/sobre']" class="btn btn-dark" data-toggle="modal">Sobre</a>
        

      </div>
      <div class="col-md-6 mt-4-md-0">
        <img class="card-img-top" src="/assets/polt.jpg">
      </div>
    </div>
  </div>
  

  <!--<div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/performance.jpg" height="164px" width="253px" alt="">
          <div class="card-body">
            <h4 class="card-title">Performance</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Saiba mais</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/produtividade.jpg" height="164px" width="253px" alt="">
          <div class="card-body">
            <h4 class="card-title">Produtividade</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Saiba mais</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/full_dev.jpg" height="164px" width="253px" alt="">
          <div class="card-body">
            <h4 class="card-title">Funcionalidades</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Saiba mais</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Fim Content -->