<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="font-weight  mb-6">Meu Projeto</h1>
                <h4 class="font-weight">Loja Mahalo - loja de produtos online.</h4>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img
                    src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt=""
                    class="img-fluid"></div>
        </div>
    </div>
</div>

        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img
                    src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt=""
                    class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight  mb-6">Mahalo</h2>
                <h4 class="font-weight">Projeto Desafio Angular - Loja de Produtos desenvolvida pela starter Natália Sousa,
                     para etapa do módulo de aprendizado de Angular/ Api, do programa
                    Starter oferecido pela empresa GFT. </h4>
            </div>
        </div>

                
            <!-- End-->

    